@font-face {
  font-family: Poppins;
  src: url(../fonts/poppins/Poppins-Light.otf);
}

body {
  font-size: 16px;
  font-family: 'Poppins',  sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

a {
  cursor: pointer;
}

.left_menu {
  width: 26%;
  position: fixed;
  background-color: #2e394c;
  height: 100%;
  overflow-y: scroll;
}

.main_board {
  width: 74%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 26%;
  overflow-y: scroll;
}

.list_headings {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: 'Poppins',  sans-serif;
  font-size: 1.125rem;
  color: #111111;
  margin: 16px 20px;
}

.list_headings-item {
  width: 31%;
  padding-bottom: 15px;
  border-bottom: 2px solid;
}

.todo-head {
  border-color: #F55753;
}

.active-head {
  border-color: #F8D053;
}

.done-head {
  border-color: #10CFBD;
}

.nav_home {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #27303f;
  color: #FFFFFF;
}

.team_name,
.nav_list-text {
  font-size: 1.125rem;
  padding: 0 30px 0 15px;
}

.fas {
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
  font-size: 1.25rem;
}

.home_icon {
  flex-basis: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-right: 1px solid #2E394C;
}

.home_link {
  text-decoration: none;
  color: #FFFFFF;
}

.nav_list {
  list-style: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.nav_list-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
}

.nav_list-link:hover {
  background-color: #364359;
}

.icon_wrap {
  display: flex;
  flex-basis: 60px;
  justify-content: center;
  align-items: center;
}
/* part2  */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #757575;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Consolas","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

button:hover {
  background-color: rgba(158,158,158,.2);
}

button:active {
  background-color: rgba(158,158,158,.4);
}

button.icon {
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  margin-left: 0;
  margin-right: 0;
  min-width: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  line-height: normal;
}

button .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-12px,-12px);
  line-height: 24px;
  width: 24px;
  vertical-align: middle;
}

::-webkit-input-placeholder {
  font-size: 0.75rem;
}
::-moz-placeholder {
  font-size: 0.75rem;
}
:-ms-input-placeholder {
  font-size: 0.75rem;
}
:-moz-placeholder {
  font-size: 0.75rem;
}

input {
  font-size: 1rem;
  color: #757575;
  padding: .5em;
  border-radius: 2px;
  border: 1px solid lightgray;
  outline: none;
}

main {
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: white;
  background-color: #27303f;
  text-align: center;
  text-transform: uppercase;
}

header h1 {
  display: inline-block;
  color: #ffffff;
  margin: 1rem auto;
  font-size: 1.125rem;
}



/* Todo Item */
.todo-item {
  display: flex;
  font-size: 1rem;
  border-top: 1px solid rgba(0,0,0,.1);
  background-color: #fff;
  transition: all .2s;
  -webkit-user-select: none;
  user-select: none;
  padding: 8px 16px;
  align-items: center;
  color: #686868 ;
}

.todo-item.completed * {
  color: lightgray;
}

.todo-item .checkbox {
  margin-right: .5rem;
}

.todo-item .title,
.todo-item .textfield {
  margin-right: auto;
}

.todo-item .textfield {
  display: none;
}

.todo-item.completed .title {
  text-decoration: line-through;
}

.todo-item.editing .checkbox,
.todo-item.editing .title {
  display: none;
}

.todo-item.editing .textfield {
  display: block;
  flex: 1;
  margin-right: 16px;
}

.todo-item button {
  opacity: 0;
  transition: all .2s;
}

.todo-item:hover button:not(.checkbox) {
  opacity: 1;
}



/* Todo form */

#todo-form {
  display: flex;
  background-color: #FAFAFA;
  border-top: 1px solid rgba(0,0,0,.1);
  padding: 10px;
}

#todo-form input {
  flex: 1;
  outline: none;
  transition: all .2s;
}

#todo-form input:focus {
  border: 1px solid #f0db4f;
}

#todo-form button {
  margin-left: 10px;
}

.backlog-top {
  display: flex;
  justify-content: space-between;
  padding: 17px 25px;
  border-bottom: 1px solid #eee;
  background-color: #f4f4f4;
  position: sticky;
}

.filter-list {
  display: flex;
}

.backlog-top h4 {
  margin: 0 15px 0 0;
  font-size: 0.9375rem;
  font-weight: 400;
}

.filter_wrap {
  display: flex;
  align-items: center;
}

.filter-list-item {
  margin-right: 10px;
  font-size: 0.75rem;
  color: #38A2F1;
  opacity: 0.4;
  cursor: pointer;
  border-right: 1px solid #DADADA;
  padding-right: 10px;
}

.filter-list-item:last-child {
  margin-right: 0;
}

.filter-list-item:hover {
  opacity: 1;
}

.backlog_search {
  height: auto;
  width: 23%;
  padding: 0 0 5px 0;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  background: transparent;
  margin-right: 60px;
}

.backlog_search:hover {
  border-bottom: 1px solid #DADADA;
}

.backlog_search:focus {
  border-bottom: 1px solid #38a2f1;
}

.backlog-item {
  height: 51px;
  display: flex;
  align-items: center;
}

.backlog-item:nth-child(even) {
  background-color: #f7f7f7 ;
}

.backlog_content {
  padding: 0 25px;
}

.backlog-title {
  display: flex;
  align-items: center;
}

.backlog-title h4 {
  margin-right: 50px;
}

.quality {
  font-size: 0.9rem;
}

.completed label {
  text-decoration: line-through;
  color: lightgray;
}

.sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.active {
  color: #38a2f1;
  opacity: 1;
}

.arrow_up,
.arrow_down {
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.drag {
  width: 200px;
  height: 200px;
  background: blue;
  display: inline-block;
  margin-right: 10px;
}

.board_wrap {
  display: flex;
  justify-content: space-between;
  margin: 16px 20px;
}

.board_wrap ul {
  width: 31%;
}

.board_item {
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  padding-left: 10px;
  margin-bottom: 15px;
}

.board_item:last-child {
  margin-bottom: 100px;
}